# this file was created automatically by heroku-config
DATABASE_NAME="ue8fo1ao6rx1efm2"
DATABASE_PASSWORD="rajvfdo0102pq03a"
DATABESE_USERNAME="npvugflumul806kz"
DATABSE_HOST="l6slz5o3eduzatkw.cbetxkdyhwsb.us-east-1.rds.amazonaws.com"
GOOGLE_GEOCODING_KEY="AIzaSyCCLosw7SQ7gQCCqTN3IFyp_BdJAxFyT"
SONGKICK_KEY="qRDqWCS0qJpDH4Qp"
SPOTIFY_CLIENT_ID="7c6ecc9a0ea2443faa122b8acb722b21"
SPOTIFY_SECRET_ID="9c16fecece114d0792b105a9bb309345"
SPOTIFY_REDIRECT_HOST="http://localhost:5000"