# this file was created automatically by heroku-config
DATABASE_NAME=
DATABASE_PASSWORD=
DATABESE_USERNAME=
DATABSE_HOST=
GOOGLE_GEOCODING_KEY=
SONGKICK_KEY=
SPOTIFY_CLIENT_ID=
SPOTIFY_SECRET_ID=
SPOTIFY_REDIRECT_HOST=