li {
  background-color: #efefef;
}
.panel-default{
  .panel-heading{
    background-color: #fff;
  }
}
.nav-tabs {
  background-color: #fff;
}
#concert-container {
  overflow: auto;
  max-height: 300px;
}
